body {
    margin:0;
    padding:0;
}
.wrapper {
    margin: 10% 50%;
    width: 200px;
    position: relative;
}

.button {
    background-color: red;
    color: white;
    border-radius: 10px;
    position: center;
    margin: 0 50px;
}
.showToolTip {
    color: black;
    border: black solid 2px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
}
.title {
    background-color: #F7F7F7;
    border-radius: 15px;

    color: #4B4E51;
    height: 15px;
}

